<search-box></search-box>
<div class='row'>
  <div class='col-md-12 col-sm-12 col-xs-12'>
    <div class='row'>
      <ul class='grid-view'>
        <li class='col-md-2 col-sm-4 col-xs-6'>
          <div class='thumbnail dog-add'>
            <div class='no-image'>
              <span class='glyphicon glyphicon-plus-sign'></span>
            </div>
            <div class='caption'>
              Add a New Dog
            </div>
          </div>
        </li>
        <li class='col-md-2 col-sm-4 col-xs-6 draggable' ng-repeat='dog in dogs | filter:query'>
          <div class='thumbnail'>
            <img ng-src='{{dog.image}}'>
            <div class='caption'>
              <div class='dog-name'>{{dog.name}}</div>
              <!-- /%button.btn.btn-xs.btn-primary{"data-target" => ".detail-modal-{{$index}}", "data-toggle" => "modal"} -->
              <!-- /  more info -->
            </div>
          </div>
          <div class='detail-modal-{{$index}} fade modal'>
            <div class='modal-dialog modal-sm'>
              <div class='modal-content'>
                <div class='modal-body'>
                  <button class='close' data-dismiss='modal'>
                    <span>&times;</span>
                  </button>
                  <div class='media'>
                    <div class='media-left'>
                      <img class='img-rounded' ng-src='{{dog.image}}'>
                    </div>
                    <div class='media-body'>
                      <div class='row'>
                        <div class='col-md-12 col-xs-12 col-sm-12'>
                          <h5>Dog Name</h5>
                          {{dog.name}}
                        </div>
                      </div>
                      <div class='row m-m-top'>
                        <div class='col-md-12 col-xs-12 col-sm-12'>
                          <h5>Owner/City</h5>
                          {{dog.owner}} / {{dog.city}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
