.row
  .col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-12
    .well
      .input-group
        %span.input-group-addon
          Search:
        %input.form-control{"ng-model" => "query[queryBy]"}
        //%angucomplete{"pause" => "100", "selectedobject" => "selectedDog", "localdata" => "dogs", "searchfields" => "name,owner,city", "min-length" => "1", "titlefield" => "name,owner,city", "inputclass" => "form-control"}